extends ../layout

block content
  #myCarousel.carousel.slide
    ol.carousel-indicators
      li.active(data-target="#myCarousel", data-slide-to="0")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
      .item.active
        img(src="/images/kl.jpg")
        .carousel-caption 第一张宽连图
      .item
        img(src="/images/kl.jpg")
        .carousel-caption 第二张宽连图
      .item
        img(src="/images/kl.jpg")
        .carousel-caption 第三张宽连图

  mixin onesection(info,type)
    .row
      .col-md-1.title-item
        img.title1-img(src="/images/title1.png")
      .col-md-4.title1.title-item #{info.title1}
      .col-md-7.title2.title-item #{info.title2}
    if type
      p haha
    if block
      block
    .row.separator
      img(src="/images/separator.png")

  .container.index-sections
    +onesection({
        title1: '服务',
        title2: 'Service'
    })

    +onesection({
        title1: '行业及解决方案',
        title2: 'Industry and Solutions'
    })

    +onesection({
        title1: '合作客户',
        title2: 'Cooperative customers'
    })
  h1= title
  p Welcome to #{title}

  mixin lesson
    p immoc jade study
  +lesson
  mixin study(name, courses)
    p #{name} study
    ul.courses
      each course in courses
        li= course
  +study('tom', ['jade', 'node'])

  mixin group(student)
    h4 #{student.name}
    +study(student.name, student.courses)
  +group({name: 'tom',courses:['jade', 'node', 'express']})

  mixin team(slogon)
    h4 #{slogon}
    if block
      block
    else
      p no team

  +team('slogon')
    p Good job!

  mixin attr(name)
    p(class!=attributes.class) #{name}

  +attr('attrname')(class='magic')

  mixin attrs(name)
    p&attributes(attributes) #{name}

  +attrs('attrsname')(class='magic2', id='attrsid')

  mixin magic(name, ...items)
    ul(class='#{name}')
      each item in items
        li= item

  +magic('magic', 'node', 'jade', 'express', '..')