extends ../layout
include ../includes/common
block content
  #myCarousel.carousel.slide
    ol.carousel-indicators
      li.active(data-target="#myCarousel", data-slide-to="0")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
      each item in banner.list
        if item.active
          .item.active
            img(src="#{item.imgUrl}")
        else
          .item
            img(src="#{item.imgUrl}")

  mixin onesection(info,type)
    .one-section
      +title(info)(style='margin-bottom: 0.5rem;')
      if type
        p haha
      if block
        block


  .container.index-sections
    .one-section.intro-section
      .row.index-intro-row
        a.index-intro-link
          img.index-intro-img(src="#{intro.imgUrl}")
      .row.separator-row
        img.center-block(src="/images/separator.png")

    +onesection({
        title1: '发展历史',
        title2: 'History of development'
    })
      .row.index-row-1
        a.index-link-1
          img.index-img-1(src="#{sections.history.imgUrl}")
      .row.separator-row
        img.center-block(src="/images/separator.png")

    +onesection({
        title1: '公司荣誉',
        title2: 'Company honors'
    })
      .row.index-row-1
        a.index-link-1
          img.index-img-1(src="#{sections.honors.imgUrl}")
      .honor-desc-box
        each item in sections.honors.list
          .row.index-honor-row
            .col-md-4.honor-left
              .title.text-right=item.title
            .col-md-8.honor-right
              .desc=item.desc
