extends ../layout

block cssconent
    link(rel='stylesheet', href='/stylesheets/second.css')

block content
    mixin bg()
       .container-fluid
           .row
               .img
                   img(src="/images/second/#{type}.png")
    mixin detail()
        .container.service-detail-container
            if block
                block

    +bg()

    +detail()
        .service-detail-box
            p #{type} 详细内容
            p #{type} 详细内容
            p #{type} 详细内容
            p #{type} 详细内容