extends ../layout

block cssconent
    link(rel='stylesheet', href='/stylesheets/second.css')

block content
    mixin bg(imgUrl)
       .container-fluid
           .row
               .img
                   img(src="/images/second/#{imgUrl}.png")
    mixin detail()
        .container.service-detail-container
            .container-fluid.service-detail-box
                if block
                    block

    if type=='service'
        +bg(subtype)
    else if type == 'industry'
        +bg(type)
    else if type == 'industry_telecom'
        +bg(type)
    else if type == 'customers'
        +bg(type)
    else if type == 'about'
        +bg(type)

    if type=='service'
        +detail()
            if subtype=='solution'
                +solution(data)
            if subtype=='product'
                +product(data.list)
    else if type == 'industry'
        +detail()
            +industry(data)
    else if type == 'industry_telecom'
        +detail()
            +industry2(data)
    else if type == 'customers'
        +detail()
            +customers(data)
    else if type == 'about'
        include style
        include ./about.html


    mixin solution(data)
        .desc-box
            each item in data.desc
                p.text-center.desc #{item}
        .container-fluid.qa-box
        each item in data.qa
            .row
                .col-md-6
                    img.center-block.img(src="#{item.imgUrl}")
                .col-md-6
                    p.question(class="#{item.class}") #{item.question}
                    ul.answers
                        each item2 in item.answer
                            li.answers-item -&nbsp;#{item2}

    mixin product(list)
        each item,index in list
            if index%2==0
                <div class="row product-row">
            .col-md-6
                if item.moreUrl
                    a(href="#{item.moreUrl}").product-img
                        img.center-block(src="#{item.imgUrl}")
                else
                    .product-img
                        img.center-block(src="#{item.imgUrl}")
                .product-desc-box.center-block
                    h4.product-title #{item.title}
                    .product-desc #{item.desc}
            if index%2==1
                </div>

    mixin industry(data)
        each item,index in data.industry_list
            if index % 2 == 0
                <div class="row industry-row">
            .col-md-6.industry-item
                .product-img
                    img.center-block(src="#{item.imgUrl}")
                .industry-title
                    .text #{item.title}
            if index % 2 == 1
                </div>
    mixin industry2(data)
        +telecom(data.telecom_list)

    mixin telecom(list)
        .row
            .telecom-title-1 运营商解决方案
        each item,index in list
            if index % 3 == 0
                <div class="row telecom-row">
            .col-md-4
                .telecom-img
                    img.center-block(src="#{item.imgUrl}")
                .center-block
                    h4.telecom-title.text-center #{item.title}
                    .telecom-desc-box
                        each desc in item.desc
                            .telecom-desc-item.text-center #{desc}
            if index % 3 == 2
                </div>

    mixin customers(data)
        each item in data.imglist
            if index % 3 == 0
                <div class="row customers-row">
            .col-md-4
                .customers-img
                    img.center-block(src="#{item.src}")
            if index % 3 == 2
                </div>

